*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #e5e5e5;*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
   background-color: #f5e7ae;
}
.container{
    height: 100vh;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.125fr 0.125fr 0.50fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-areas: "left-panel header1 header1 header1 "
                         "left-panel header1 header1 header1 "
                         "left-panel header2 header2 header2 "
                         "left-panel project-title project-title announcement-title "
                         "left-panel project1 project2 announcements "
                         "left-panel project1 project2 announcements "
                         "left-panel project1 project2 announcements "
                         "left-panel project3 project4 announcements "
                         "left-panel project3 project4 announcements "
                         "left-panel project3 project4 trending-title "
                         "left-panel project5 project6 trending-topics "
                         "left-panel project5 project6 trending-topics "
                         "left-panel project5 project6 trending-topics "
                         "left-panel . . . ";
                         
    gap: 10px;
}

#left-panel{
    grid-area: left-panel;
    background: linear-gradient(#f5eed2, #e99754, #fdba74, #f5eed2);
}

#header1{
    grid-area: header1; 
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.15fr 3fr 0.3fr 0.2fr 0.4fr 0.8fr;

}

.content-header1{
    display: flex;
    justify-items: center;
    align-items: center;

}
#header2{
    grid-area: header2; 
    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.3fr 0.8fr 1.5fr 1.5fr 0.6fr 0.6fr 0.6fr;
}

.prof-pic{
    background-image:url(./icons/profile-avatar.jpeg); 
    height: 80%;
    width: 65%;
    margin: auto;
    border-radius: 50%;
    background-size: 100%;
    justify-items: center;
    align-items: center;   
}

.welcome{
    display: flex;
    padding-top: 20%;
    flex-direction: column;
    justify-items: center;
    align-items: start; 
}
.bold-welcome{
    font-size: x-large;
    font-weight: bolder;
}
#project-title{
    grid-area: project-title;
    text-align: left;
    height: 85%;
    margin-top: auto;
    font-size: xx-large;
    font-weight: bolder;
}

#announcement-title{
    grid-area: announcement-title;
    text-align: left;
    height: 85%;
    margin-top: auto;
    font-size: xx-large;
    font-weight: bolder;
}

#announcements{
    grid-area: announcements;
    background-color: #f5eed2;
    border-radius: 40px;
    width: 95%
}

.announcements-div{
    width: 80%;
    height: 32%;
    margin: auto;
    padding-top: 17px;
    border-bottom: 1px solid grey;
}

.announcement-subject{
    font-weight: bold;
}

#project1{
    grid-area: project1;
    
}

#project2{
    grid-area: project2;
}
#project3{
    grid-area: project3;
}

#project4{
    grid-area: project4;

}

#project5{
    grid-area: project5;
}

#project6{
    grid-area: project6;
}

#trending-title{
    grid-area: trending-title;
    text-align: left;
    height: 85%;
    margin-top: auto;
    font-size: xx-large;
    font-weight: bolder;
}

#trending-topics{
    grid-area: trending-topics;
    background-color: #f5eed2;
    display: grid;
    grid-template-columns: 0.1fr 0.6fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    width: 95%;
    border-radius: 40px;
    justify-items: center;
    align-items: center;
}

.trending-pic{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    border: #0284c7;
    background-size: 100%;
}

.trending-info{
    padding-right: 70px;
}

#trending1{
    background-image:url(./icons/discord.jpeg);   
}

#trending2{
    background-image:url(./icons/girl.png);
}

#trending3{
    background-image:url(./icons/gamer.png);
}
#trending4{
    margin-top: 12px;
    background-image:url(./icons/profile-avatar.jpeg);
}

.project-cards{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;    
}

#card-1{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #fcd34d;
    height:100%;
    width:100%;
    border-radius: 25px;
}
#card-2{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #fcd34d;
    height:100%;
    width:100%;
    border-radius: 25px;
}

#card-3{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #fcd34d;
    height:100%;
    width:100%;
    border-radius: 25px;
}

#card-4{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #fcd34d;
    height:100%;
    width:100%;
    border-radius: 25px;
}

#card-5{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #fcd34d;
    height:100%;
    width:100%;
    border-radius: 25px;
}

#card-6{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #fcd34d;
    height:100%;
    width:100%;
    border-radius: 25px;
}

.card-div1{
    width: 98%;
    height: 100%;
    background-color: #f5eed2;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-top: 40px;
    margin-left: 10px;
}

.project-title{
    width: 80%;
    margin: auto;
    font-size: large;
    font-weight: bold;
}

.project-description{
    width: 80%;
    margin: auto;
}

.icons{
    display: flex;
    padding-top: 25px;
    flex-direction: row;
    justify-content: end;
    width: 80%;
    gap: 35px;

}

.models:hover{
    background-color: #78716c26;
}

.logo{
    height: 15%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}

.logo-text{
    font-size: xx-large;
    font-weight: bolder;   
}

.left-panel-items{
    margin-left: 40px;
    display: grid;
    height: 40%;
    width: 90%;
    grid-template-columns: 0.2fr 0.6fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    font-weight: bold;
    padding-bottom: 40px;
}

.left-panel-text:hover{
    color: #ecfeff;
}

.left-panel-text:click{
    color: #ecfeff;
}


button{
    height: 30px;
    width: 100px;
    border-radius: 45px;
    font-size: larger;
    color: rgb(14, 5, 5);
    background-color: #fcd34d;
    font-weight: bold;
    
}

.buttons{
    display: flex;
    justify-items: center;
    align-items: center;
    padding-top: 50px;

}

input{
    width: 98%;
    height: 50%;
    border-radius: 30px;
}